*{
    margin: 0;
    padding: 0;
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}

.sidebar{
    width: 100%;
    padding: 2px 0;
    background-color: #0096b5;
    height: 100vh;
}

.sidebar-content{
    width: 100%;
    padding: 2px 0;
    margin-top: 30%;
}

.sidebar-content img{
    max-width: 100%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.content{
    width: 100%;
    padding: 2px 0;
    background-color: #f1f1f1;
    height: 100vh;
}

.card-title{
    color: #333;
}

.title-content{
    text-transform: uppercase;
    font-weight: normal;
}

.color-card-footer{
    background-color: #0096b5;
    cursor: pointer;
}

.color-text-muted{
    color: #fff !important;
}

.scroll{
    overflow: auto;
}

@media screen and (max-width: 850px)
{

    .content{
        background-color: #fff;
    }

    .a{
        display: block;
    }
}